@@ -1,53 +1,107 @@

.createPlaylistCont {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}


.createPlaylistCont label {
  margin: 5px 10px 5px 0;
}


.createPlaylistCont input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}


.createPlaylistCont button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.createPlaylistCont button:hover {
  background-color: royalblue;
}

.divider{
  height: 20px;
  width: 100%;
  background-color: greenyellow;
  border:  1px solid greenyellow;
}

#PlaylistCSS{
  height: 200px;
  width: 200px;
  background-color: gray;
  height: 333px;
  width: 256px;
  background-color: black;
  display: inline-block;
  margin: 25px;

  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: 'IBM Plex Mono', monospace;
}

#PlaylistCSS img{
  height: 100px;
  height: 175px;
  margin-left: 70px;
  margin: 40px;
  border-radius: 5px;
}

#PlaylistCSS > a{
  color: white;
  text-decoration: none;
}

#PlaylistCSS > a:hover{
  color: yellow;
}

#PlaylistCSS > h5{
  padding-bottom: 15px;
}

p{
  display: inline-block;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  padding-left: 10px;
}

.songIcon{
  vertical-align: middle;
}

.Container > img{
  height: 175px;
  width: 175px;
  background-color: black;
}

.SongName{
  padding-left: 20%;
}

.ArtistName{
  display: inline-block;
  padding-left: 20%;
  vertical-align: middle;
}

.Container {
  display: flex;
  align-items: center;
  margin: 30px;
  font-family: 'IBM Plex Mono', monospace;
  
}